################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/NotificationMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/NotificationMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/NotificationMS/FileContentIndex/ca2877fc-0c8a-409e-b637-9baeb0e8d140.vsidx
/.vs/NotificationMS/v17/.wsuo
/.vs/NotificationMS/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/CodeChunks.db
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/NotificationMS/.vs/NotificationMS/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/NotificationMS/.vs/NotificationMS/FileContentIndex/1f615048-38ce-4b32-bb49-d6b844645dc8.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/4d465771-f027-472d-a589-174db19ada3c.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/5d22ca8f-cdc3-49f0-9ff2-b3e2a4a791fc.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/f1a9b645-13d9-4015-9d41-10133a492300.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/f91e65b2-142c-48e2-a834-b09749e7d57f.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/ff47c4d4-9851-42c6-ae96-fbdd2b61b558.vsidx
/NotificationMS/.vs/NotificationMS/v17/.suo
/NotificationMS/.vs/NotificationMS/v17/DocumentLayout.backup.json
/NotificationMS/.vs/NotificationMS/v17/DocumentLayout.json
/NotificationMS/.vs/NotificationMS/config/applicationhost.config
/NotificationMS/.vs/NotificationMS/DesignTimeBuild/.dtbcache.v2
/NotificationMS/.vs/NotificationMS/FileContentIndex/25f661c7-1972-4610-b784-80c4c1a69f8f.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/63cbb888-4cb5-4051-9b64-f7048f066cdf.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/6af02fdc-ebc7-4aff-9fe1-6fbcc495137a.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/de0ca253-538d-4cb3-ba73-4841e9f27c70.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/de19fb6c-da2b-4b2f-9902-85e8d9213100.vsidx
/NotificationMS/.vs/NotificationMS/FileContentIndex/f69ce413-e5eb-46c6-a93d-e4ffeb7eedba.vsidx
/NotificationMS/.vs/NotificationMS/v17/.futdcache.v2
/NotificationMS/.vs/ProjectEvaluation/notificationms.metadata.v9.bin
/NotificationMS/.vs/ProjectEvaluation/notificationms.projects.v9.bin
/NotificationMS/.vs/ProjectEvaluation/notificationms.strings.v9.bin
